{
  "printWidth": 80,
  "trailingComma": "es5",
  "semi": true,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "useTabs": true,
  "endOfLine": "lf",
  "max-len": ["error", { "code": 80 }],
  "tabWidth": 2
}
