.common-input {
  border: 2px solid yellowgreen;
  padding: 7px 20px;
  background-color: transparent;
  font-size: 1.2rem;

  &:focus {
    outline: 1px dashed green;
    outline-offset: 1px;
  }

  max-width: 400px;

  &__label {
    margin: 1.5em 5px;
    position: relative;

    &--text {
      position: absolute;
      top: -1.2em;
      left: 0;
    }
  }
}
