.courses {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;


  &__heading {
    display: flex;
    justify-content: space-between;
		align-items: center;

    input:first-child {
      margin-left: 0;
    }

    & > *:last-child {
      margin-right: 0;
    }
  }

  article {
    margin-bottom: 15px;

    &:first-child {
      margin-top: 25px;
    }
  }
}
